{% extends 'blog/base.html' %}
{% load static %}

    {% block content %}
    <div class="col-sm-12"></div>
    <h1 class=" text-white my-5 ms-5">About Page</h1>
    <p class="text-white ms-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus cumque sed numquam dolore sunt sint, soluta velit quod id molestiae repellat maiores praesentium, suscipit, nemo aliquam! Fugit qui eligendi beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa explicabo, officia iusto neque odio ipsum officiis nihil necessitatibus beatae ea modi eum provident et repudiandae fugiat veniam magnam expedita. Rem.
       

    </p>
</div>
{% endblock content %}